#root {
color: red;
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 150px;
    border-radius: 0% 100% 0% 100% / 73% 0% 100% 27%;
    margin-bottom: 10px;
}